In [1]:
import os
import json
import pandas as pd
import mysql.connector

In [2]:
# AGGREGATED INSURANCE

path1="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/aggregated/insurance/country/india/state/"
agg_insur_list = os.listdir(path1)

columns1= {"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[]}

for state in agg_insur_list:
    cur_states = os.path.join(path1, state)
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = os.path.join(cur_states, year)
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file, "r") as data_file:
                A = json.load(data_file)

            for i in A["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns1["Transaction_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))

aggre_insurance = pd.DataFrame(columns1)

aggre_insurance["States"] = aggre_insurance["States"].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_insurance["States"] = aggre_insurance["States"].str.replace("-"," ")
aggre_insurance["States"] = aggre_insurance["States"].str.title()
aggre_insurance['States'] = aggre_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [3]:
aggre_insurance["States"].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [4]:
# AGGREGATED TRANSACTION

path2="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_tran_list= os.listdir(path2)

columns2 = {"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[], "Transaction_amount":[]}
for state in agg_tran_list:      
    cur_states = path2 + state +"/"          
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states+year+"/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year+file
            data = open(cur_file,"r")

            B = json.load(data)

            for i in B["data"]["transactionData"]:
                name = i["name"] 
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns2["Transaction_type"].append(name)
                columns2["Transaction_count"].append(count)
                columns2["Transaction_amount"].append(amount)
                columns2["States"].append(state)
                columns2["Years"].append(year)
                columns2["Quarter"].append(int(file.strip(".json"))) 
                # Strip remove unwanted letters or space. here we are mentioning to remove .json

aggre_transaction=pd.DataFrame(columns2)

aggre_transaction["States"] = aggre_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_transaction["States"] = aggre_transaction["States"].str.replace("-"," ")
aggre_transaction["States"] = aggre_transaction["States"].str.title()
aggre_transaction['States'] = aggre_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [5]:
# AGGREGATED USER

path3="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(path3)

columns3 = {"States":[], "Years":[], "Quarter":[], "Brands":[], "Transaction_count":[], "Percentage":[]}
for state in agg_user_list:                 
    cur_states = path3+state+"/"
    agg_year_list = os.listdir(cur_states)

    for year in agg_year_list:
        cur_year = cur_states+year+"/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year+file
            data = open(cur_file,"r")

            C = json.load(data)

            try: # To avoid null values
                for i in C["data"]["usersByDevice"]:
                    brand = i["brand"] 
                    count = i["count"]
                    percentage = i["percentage"]
                    columns3["Brands"].append(brand)
                    columns3["Transaction_count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["States"].append(state)
                    columns3["Years"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json"))) 
            except:
                pass

aggre_user=pd.DataFrame(columns3)

aggre_user["States"] = aggre_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_user["States"] = aggre_user["States"].str.replace("-"," ")
aggre_user["States"] = aggre_user["States"].str.title()
aggre_user['States'] = aggre_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [6]:
#Map INSURANCE

path4="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/map/insurance/hover/country/india/state/"
map_insur_list= os.listdir(path4)

columns4= {"States":[], "Years":[], "Quarter":[], "Districts":[], "Transaction_count":[],"Transaction_amount":[] }

for state in map_insur_list:
    cur_states = os.path.join(path4, state)
    map_year_list = os.listdir(cur_states)

    for year in map_year_list:
        cur_year = os.path.join(cur_states, year)
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file, "r") as data_file:
                D = json.load(data_file)

                for i in D["data"]["hoverDataList"]:
                    name = i["name"]
                    count = i["metric"][0]["count"]
                    amount = i["metric"][0]["amount"]
                    columns4["Districts"].append(name)
                    columns4["Transaction_count"].append(count)
                    columns4["Transaction_amount"].append(amount)
                    columns4["States"].append(state)
                    columns4["Years"].append(year)
                    columns4["Quarter"].append(int(file.strip(".json")))


map_insurance = pd.DataFrame(columns4)

map_insurance["States"] = map_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance["States"] = map_insurance["States"].str.replace("-"," ")
map_insurance["States"] = map_insurance["States"].str.title()
map_insurance['States'] = map_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [7]:
# MAP TRANSACTION

path5="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list= os.listdir(path5)

columns5 = {"States":[], "Years":[], "Quarter":[],"District":[], "Transaction_count":[],"Transaction_amount":[]}


for state in map_tran_list:
    cur_states = os.path.join(path5, state)
    map_year_list = os.listdir(cur_states)

    for year in map_year_list:
        cur_year = os.path.join(cur_states, year)
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file, "r") as data_file:
                E = json.load(data_file)

                for i in E['data']["hoverDataList"]:
                    name = i["name"]
                    count = i["metric"][0]["count"]
                    amount = i["metric"][0]["amount"]
                    columns5["District"].append(name)
                    columns5["Transaction_count"].append(count)
                    columns5["Transaction_amount"].append(amount)
                    columns5["States"].append(state)
                    columns5["Years"].append(year)
                    columns5["Quarter"].append(int(file.strip(".json")))

map_transaction = pd.DataFrame(columns5)

map_transaction["States"] = map_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction["States"] = map_transaction["States"].str.replace("-"," ")
map_transaction["States"] = map_transaction["States"].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [8]:
# MAP USER

path6="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list= os.listdir(path6)

columns6 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}


for state in map_user_list:
    cur_states = os.path.join(path6, state)
    map_year_list = os.listdir(cur_states)

    for year in map_year_list:
        cur_year = os.path.join(cur_states, year)
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file, "r") as data_file:
                F = json.load(data_file)

                for i in F["data"]["hoverData"].items():
                    district = i[0]
                    registereduser = i[1]["registeredUsers"]
                    appopens = i[1]["appOpens"]
                    columns6["Districts"].append(district)
                    columns6["RegisteredUser"].append(registereduser)
                    columns6["AppOpens"].append(appopens)
                    columns6["States"].append(state)
                    columns6["Years"].append(year)
                    columns6["Quarter"].append(int(file.strip(".json")))

map_user = pd.DataFrame(columns6)

map_user["States"] = map_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["States"] = map_user["States"].str.replace("-"," ")
map_user["States"] = map_user["States"].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [9]:
#TOP INSURANCE

path7 ="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/top/insurance/country/india/state/"
top_insur_list = os.listdir(path7)

columns7 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_insur_list:
    cur_states = os.path.join(path7, state)
    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_year = os.path.join(cur_states, year)
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file, "r") as data_file:
                G = json.load(data_file)

                for i in G["data"]["pincodes"]:
                    entityName = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns7["Pincodes"].append(entityName)
                    columns7["Transaction_count"].append(count)
                    columns7["Transaction_amount"].append(amount)
                    columns7["States"].append(state)
                    columns7["Years"].append(year)
                    columns7["Quarter"].append(int(file.strip(".json")))

top_insurance = pd.DataFrame(columns7)

top_insurance["States"] = top_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insurance["States"] = top_insurance["States"].str.replace("-"," ")
top_insurance["States"] = top_insurance["States"].str.title()
top_insurance['States'] = top_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [10]:
# TOP TRANSACTION

path8 ="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/top/transaction/country/india/state/"
top_tran_list = os.listdir(path8)

columns8 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_tran_list:
    cur_states = os.path.join(path8, state)
    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_year = os.path.join(cur_states, year)
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file, "r") as data_file:
                H = json.load(data_file)

                for i in H["data"]["pincodes"]:
                    entityName = i["entityName"]
                    count = i["metric"]["count"]
                    amount = i["metric"]["amount"]
                    columns8["Pincodes"].append(entityName)
                    columns8["Transaction_count"].append(count)
                    columns8["Transaction_amount"].append(amount)
                    columns8["States"].append(state)
                    columns8["Years"].append(year)
                    columns8["Quarter"].append(int(file.strip(".json")))

top_transaction = pd.DataFrame(columns8)

top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [11]:
# TOP USER

path9 ="C:/Users/mypc/Desktop/Project/.venv/Capstone 1/phonepe/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path9)

columns9 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}

for state in top_user_list:
    cur_states = os.path.join(path9, state)
    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_year = os.path.join(cur_states, year)
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = os.path.join(cur_year, file)
            with open(cur_file, "r") as data_file:
                I = json.load(data_file)

                for i in I["data"]["pincodes"]:
                    name = i["name"]
                    registeredusers = i["registeredUsers"]
                    columns9["Pincodes"].append(name)
                    columns9["RegisteredUser"].append(registereduser)
                    columns9["States"].append(state)
                    columns9["Years"].append(year)
                    columns9["Quarter"].append(int(file.strip(".json")))

top_user = pd.DataFrame(columns9)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [12]:
# TABLE CREATION

#CONNECTION TO MYSQL
mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password="Raj$1006",
            database="phonepe_data",
            port="3306")
cursor = mydb.cursor()

#Aggregated Insurance Table Creation
create_query_1 = '''CREATE TABLE if not exists aggregated_insurance(States varchar(100),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Transaction_type varchar(100),
                                                                    Transaction_count bigint,
                                                                    Transaction_amount bigint)'''
cursor.execute(create_query_1)
mydb.commit()
insert_query_1 = '''INSERT INTO aggregated_insurance(States, Years, Quarter,
                                                     Transaction_type, Transaction_count,
                                                     Transaction_amount)                                                    
                                                     values(%s,%s,%s,%s,%s,%s)'''
data = aggre_insurance.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_1,data)
mydb.commit()

ProgrammingError: 1054 (42S22): Unknown column 'Transaction_type' in 'field list'

In [14]:
#Aggregated Transaction Table Creation
create_query_2 = '''CREATE TABLE if not exists aggregated_transaction(States varchar(100),
                                                                     Years int,
                                                                     Quarter int,
                                                                     Transaction_type varchar(100),
                                                                     Transaction_count bigint,
                                                                     Transaction_amount bigint)'''
cursor.execute(create_query_2)
mydb.commit()
insert_query_2 = '''INSERT INTO aggregated_transaction(States, Years, Quarter,
                                                    Transaction_type, Transaction_count,
                                                    Transaction_amount)                                                    
                                                    values(%s,%s,%s,%s,%s,%s)'''
data2 = aggre_transaction.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_2,data2)
mydb.commit()

In [15]:
#Aggregated User Table Creation
create_query_3 = '''CREATE TABLE if not exists aggregated_user(States varchar(100),
                                                            Years int,
                                                            Quarter int,
                                                            Brands varchar(100),
                                                            Transaction_count bigint,
                                                            Percentage float)'''
cursor.execute(create_query_3)
mydb.commit()
insert_query_3 = '''INSERT INTO aggregated_user(States, Years, Quarter, Brands,
                                                Transaction_count,Percentage)                                                                                                        
                                                values(%s,%s,%s,%s,%s,%s)'''
data3 = aggre_user.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_3,data3)
mydb.commit()

In [22]:
#Map Insurance Table Creation
create_query_4 = '''CREATE TABLE if not exists map_insurance(States varchar(100),
                                                            Years int,
                                                            Quarter int,
                                                            Districts varchar(100),
                                                            Transaction_count bigint,
                                                            Transaction_amount float)'''
cursor.execute(create_query_4)
mydb.commit()
insert_query_4 = '''INSERT INTO map_insurance(States, Years, Quarter, Districts,
                                              Transaction_count,Transaction_amount)                                                                                                        
                                              values(%s,%s,%s,%s,%s,%s)'''
data4 = map_insurance.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_4,data4)
mydb.commit()

ProgrammingError: 1054 (42S22): Unknown column 'District' in 'field list'

In [17]:
#Map Transaction Table Creation
create_query_5 = '''CREATE TABLE if not exists map_transaction(States varchar(100),
                                                            Years int,
                                                            Quarter int,
                                                            District varchar(100),
                                                            Transaction_count bigint,
                                                            Transaction_amount float)'''
cursor.execute(create_query_5)
mydb.commit()
insert_query_5 = '''INSERT INTO map_transaction(States, Years, Quarter, District,
                                                Transaction_count,Transaction_amount)                                                                                                        
                                                values(%s,%s,%s,%s,%s,%s)'''
data5 = map_transaction.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_5,data5)
mydb.commit()

In [18]:
#Map user Table Creation
create_query_6 = '''CREATE TABLE if not exists map_user(States varchar(100),
                                                        Years int,
                                                        Quarter int,
                                                        Districts varchar(100),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''
cursor.execute(create_query_6)
mydb.commit()
insert_query_6 = '''INSERT INTO map_user(States, Years, Quarter, Districts,
                                         RegisteredUser,AppOpens)                                                                                                        
                                         values(%s,%s,%s,%s,%s,%s)'''
data6 = map_user.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_6,data6)
mydb.commit()

In [19]:
#Top Insurance Table Creation
create_query_7 = '''CREATE TABLE if not exists top_insurance(States varchar(100),
                                                            Years int,
                                                            Quarter int,
                                                            Pincodes int,
                                                            Transaction_count bigint,
                                                            Transaction_amount bigint)'''
cursor.execute(create_query_7)
mydb.commit()
insert_query_7 = '''INSERT INTO top_insurance(States, Years, Quarter, Pincodes,
                                              Transaction_count,Transaction_amount)                                                                                                        
                                              values(%s,%s,%s,%s,%s,%s)'''
data7 = top_insurance.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_7,data7)
mydb.commit()

In [20]:
#Top Transaction Table Creation
create_query_8 = '''CREATE TABLE if not exists top_transaction(States varchar(100),
                                                               Years int,
                                                               Quarter int,
                                                               Pincodes int,
                                                               Transaction_count bigint,
                                                               Transaction_amount bigint)'''
cursor.execute(create_query_8)
mydb.commit()
insert_query_8 = '''INSERT INTO top_transaction(States, Years, Quarter, Pincodes,
                                                Transaction_count,Transaction_amount)                                                                                                        
                                                values(%s,%s,%s,%s,%s,%s)'''
data8 = top_transaction.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_8,data8)
mydb.commit()

In [21]:
#Top User Table Creation
create_query_9 = '''CREATE TABLE if not exists top_user(States varchar(100),
                                                        Years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint)'''
cursor.execute(create_query_9)
mydb.commit()
insert_query_9 = '''INSERT INTO top_user(States, Years, Quarter, Pincodes,RegisteredUser)                                                                                                                 
                                        values(%s,%s,%s,%s,%s)'''
data9 = top_user.values.tolist()  # Converting to list format from array format
cursor.executemany(insert_query_9,data9)
mydb.commit()

ProgrammingError: 1054 (42S22): Unknown column 'RegisteredUser' in 'field list'